@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style:normal;
  font-weight: 400;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-italic.otf');
  font-style:italic;
  font-weight: 400;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-bold.otf');
  font-style:normal;
  font-weight: bold;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-bold-italic.otf');
  font-style:italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
body {
  color: var(--gray30);
  font-family: charter;
}

a {
  color: var(--gray30);
}
header {
  font-size: 14px;
  color:var(--gray10);
}

header a {
  /* Sólo asignarle color porque la fuente sí la hereda bien. */
  color:var(--gray10);
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
  color: var(--gray30);
}
nav details summary {
  color: var(--gray30);
}

h1 {
  font-size: 60px;
  /* para convertir en em sería dividir 60/16 */
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}