@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style:normal;
  font-weight: 400;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-italic.otf');
  font-style:italic;
  font-weight: 400;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-bold.otf');
  font-style:normal;
  font-weight: bold;
}
@font-face {
  font-family: leonidas;
  src: url('../fonts/charter-bold-italic.otf');
  font-style:italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}
body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  /* font-family: charter; */
  background: #251F24;
  margin: 0;
;
}

a {
  color: var(--white30);
}
header {
  font-size: 14px;
  color:var(--white);
}
header li {
  color: var(--white20);
}
header a {
  /* Sólo asignarle color porque la fuente sí la hereda bien. */
  color:var(--white20);
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
  color: var(--white30);
}
nav details summary {
  color: var(--white30);
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 60px;
  /* para convertir en em sería dividir 60/16 */
  /* font-size: 3.75em; */
  margin-block-start: 64px;
  margin-inline-end: 16px;
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}
pre {
  background: var(--white10);
;
}

p{
  color: var(--white20);
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  background-position: center;
  background-repeat:repeat;
  height: 350px;
}
.section-content img {
  margin-block-start: 40px;
  display: block;
}
.section-content h3{
  counter-increment: titleList;
}
.section-content h3::before {
content: counter(titleList,decimal)'. ';
}

.section-content h3::after {
display: inline-block;
content: '';
width: 32px;
height: 4px;
background: var(--white30);
}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background: var(--white10);
  border-radius: 8px;
}

.main hr {
  display:none;
}